In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 144)

# Make dataset from simulation results

There are several groups of simulation results about water age:

* reclamation: "cSS01_MM_LL.csv"

* rehabitation: "cSS03_MM_LL.csv"

* SS: 00, 03, 10, 20, representing different SLR scenarios: 0, 0.3, 1.0, and 2.0 meters.

* MM: from 00 to 12, representing month, 00 is annual average.

* LL: from 00 to 20, representing sigma layer of water.

Therefore, a new dataset will be made in the following format:

|      Column 	| Description                                                                    	|
|------------:	|--------------------------------------------------------------------------------	|
|       `lat` 	| Lat of points in Tokyo Bay                                                                            	|
|       `lon` 	| Lon of points in Tokyo Bay                                                                         	|
|   `sigma_z` 	| Sigma Z of points, from 0 to 20, representing sea surface to bottom 	|
|   `slr_hgt` 	| SLR hight, from 0 to 2.0 meters, we have 0, 0.2, 1.0, and 2.0 data.            	|
|  `nbs_case` 	| NbS case, we have two case, 0 for reclamation case, 1 for rehabitation case.   	|
| `water_age` 	| The estimated water age by coastal circulation model                           	|

In [2]:
data = {'lat': [], 
        'lon': [], 
        'sigma_z': [], 
        'slr_hgt': [], 
        'nbs_case': [], 
        'water_age': []}

In [3]:
for ss in [0,3,10,20]:
    for nbs in [1,3]:
        for ll in [var for var in range(1,21)]:
            filepath = '../csv_files_ml/c{0:02d}{1:02d}_m00_{2:02d}.csv'.format(ss,nbs,ll)
            # print(filepath)
            df = pd.read_csv(filepath,names=['lon','lat','water_age'],
                             header=None,index_col=False)
            df['water_age'] = pd.to_numeric(df['water_age'],errors='coerce')
            data['lat'] += df['lat'].values.tolist()
            data['lon'] += df['lon'].values.tolist()
            data['water_age'] += df['water_age'].values.tolist()
            data['sigma_z'] += [ll]*df.shape[0]
            data['slr_hgt'] += [ss/10]*df.shape[0]
            data['nbs_case'] += [nbs]*df.shape[0]

In [4]:
data = pd.DataFrame.from_dict(data)

In [5]:
data.head()

         lat         lon  sigma_z  slr_hgt  nbs_case  water_age
0  34.976126  139.766126        1      2.0         1      53.56
1  34.976126  139.770631        1      2.0         1      55.79
2  34.976126  139.775135        1      2.0         1      58.39
3  34.976126  139.779640        1      2.0         1      61.34
4  34.976126  139.784144        1      2.0         1      64.72

In [6]:
data.shape

(270280, 6)

In [7]:
data.describe()

,lat,lon,sigma_z,slr_hgt,nbs_case,water_age
count,270280.000000,270280.000000,270280.000000,270280.0,270280.000000,264380.000000
mean,35.382712,139.827377,10.500000,2.0,2.000000,50.606539
std,0.184262,0.102881,5.766292,0.0,1.000002,15.642402
min,34.976126,139.626486,1.000000,2.0,1.000000,-360.980000
25%,35.237387,139.752613,5.750000,2.0,1.000000,42.970000
50%,35.417568,139.806667,10.500000,2.0,2.000000,50.650000
75%,35.534685,139.892252,15.250000,2.0,3.000000,59.220000
max,35.696847,140.112973,20.000000,2.0,3.000000,359.000000

In [8]:
data.drop(data[data['water_age'] < 0].index, inplace = True)

In [9]:
data.drop(data[data['water_age'] > 250].index, inplace = True)

In [10]:
data.isnull().sum()

lat             0
lon             0
sigma_z         0
slr_hgt         0
nbs_case        0
water_age    5900
dtype: int64

In [11]:
data[data.isna().any(axis=1)].head()

            lat         lon  sigma_z  slr_hgt  nbs_case  water_age
3939  35.462613  139.707568        1      2.0         1        NaN
3940  35.462613  139.712072        1      2.0         1        NaN
3941  35.462613  139.716577        1      2.0         1        NaN
3942  35.462613  139.721081        1      2.0         1        NaN
4008  35.467117  139.707568        1      2.0         1        NaN

In [12]:
data.dropna(subset = ["water_age"], inplace=True)

In [13]:
data['sigma_z'].value_counts()

1     13193
10    13193
18    13193
17    13193
15    13193
14    13193
13    13193
12    13193
11    13193
9     13193
8     13193
7     13193
6     13193
5     13193
4     13193
3     13193
2     13192
16    13191
19    13190
20    13190
Name: sigma_z, dtype: int64

In [14]:
data['slr_hgt'].value_counts()

2.0    263851
Name: slr_hgt, dtype: int64

In [15]:
data['nbs_case'].value_counts()

3    134877
1    128974
Name: nbs_case, dtype: int64

In [16]:
data['lat'].value_counts()

35.476126    2920
35.575225    2900
35.471622    2840
35.449099    2840
35.566216    2840
             ...
35.678829     240
35.687838     200
35.683333     120
35.692342     120
35.696847      40
Name: lat, Length: 161, dtype: int64

In [17]:
data['lon'].value_counts()

139.788649    5519
139.784144    5460
139.793153    5440
139.775135    5420
139.797658    5420
              ...
140.099459     160
140.108468     160
140.112973     120
140.103964     120
139.626486      80
Name: lon, Length: 109, dtype: int64

In [18]:
data.to_csv('data.csv',index=False)

# Data visualization

In [ ]:
df = data.copy()

In [ ]:
def plot_histogram(x):
    plt.hist(x, color='gray', edgecolor='black', alpha=0.8, range=[0,100])
    plt.title("Histogram of '{var_name}'".format(var_name=x.name))
    plt.xlabel("Value")
    plt.ylabel("Frequency")
    plt.show()
    
# Plot distribution of traget (outcome) variable in the training data
plot_histogram(df['water_age'])

In [ ]:
from scipy.stats import norm
#plt.figure(figsize=(10,7))
ax = sns.distplot(df['water_age'], 
                  bins = 50, kde=False,fit=norm, 
                  hist_kws=dict(edgecolor="k", linewidth=1))
ax.set_xlim(0,100)

In [ ]:
sns.heatmap(df.corr(), cmap='PRGn', annot=True);

In [ ]:
sns.heatmap(df[['lat','lon','sigma_z','nbs_case','water_age']].corr(), cmap='PRGn', annot=True);

In [ ]:
sns.pairplot(df)

In [ ]:
sns.pairplot(df[['lat','lon','sigma_z','nbs_case','water_age']])

In [ ]:
sns.jointplot(x='lat', y='water_age', color= "green", data= df)

In [ ]:
sns.jointplot(x='lon', y='water_age', color= "blue", data= df)

In [ ]:
sns.jointplot(x='sigma_z', y='water_age', color= "red", data= df)

In [ ]:
#plt.figure(figsize=(20,10))
ax = sns.boxplot(x="sigma_z", y="water_age", data=df)

In [ ]:
ax = sns.boxplot(x="nbs_case", y="water_age", data=df)

In [ ]:
ax = sns.boxplot(x="slr_hgt", y="water_age", data=df)

# Random Forest Regression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

from pprint import pprint

In [ ]:
# Create outcome and input DataFrames
y = df['water_age'] 
X = df.drop('water_age', axis=1)
y.head()

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X, y,test_size=0.25, random_state = 42)

In [ ]:
print('Training Features Shape:', X_train.shape)
print('Training Target Shape:', Y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Target Shape:', Y_test.shape)

In [ ]:
rf = RandomForestRegressor(random_state = 42)

# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

In [ ]:
'''
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

pprint(random_grid)
'''

In [ ]:
'''
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor(random_state = 42)
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator=rf, param_distributions=random_grid,
                              n_iter = 100, scoring='neg_mean_absolute_error', 
                              cv = 3, verbose=2, random_state=42, n_jobs=-1,
                              return_train_score=True)

# Fit the random search model
rf_random.fit(X_train, Y_train);
'''

In [ ]:
# rf_random.best_params_

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [ ]:
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train, Y_train)
base_accuracy = evaluate(base_model, X_train, Y_train)